Source: wasta-xfce-bionic
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-xfce-bionic

Package: wasta-xfce-bionic
Architecture: all
Depends: ksuperkey, wasta-core-bionic, wasta-multidesktop-bionic, xfce4-appfinder, xfce4-power-manager, xfce4-power-manager-plugins, xfce4-pulseaudio-plugin, xfce4-session, xfce4-whiskermenu-plugin, xfdesktop4, xfwm4, ${shlibs:Depends}, ${misc:Depends}
Recommends: menulibre, mugshot, pavucontrol
Description: Wasta-Linux XFCE Customization for 18.04 Bionic
 XFCE desktop setup for Wasta-Linux.  By default, the "lite" settings of
 XFCE are configured as the system defaults.  In the future, a wasta-layout
 option will allow users to set different XFCE layouts as default for the
 system.
