[Desktop Entry]
Name=wasta [XFCE Layout]
Comment=Change XFCE Default Layout
Exec=wasta-xfce-layout
Terminal=false
Type=Application
Icon=wasta-linux
Categories=Application;System;
